<div class="row">
	<div class="medium-4 small-12 columns">
		<div class="post-list-date meta"><p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
		<!-- <p>{{ .ReadingTime}} Minute read</p> -->
		</div>
	</div>
	<div class="medium-8 small-12 columns">
	<h3><a class="post-list-title" href="{{ .Permalink }}">{{ .Title }}</a>
	<!-- <small>{{ with .Params.authorname }}by {{ . }}{{ end }}</small> --></h3>
	{{ $baseurl := .Site.BaseUrl }}
	{{ range .Params.tags }}
		<span class="secondary radius label"> <a href="{{ $baseurl }}/tags/{{ . | urlize }}">#{{ lower . }}</a> </span>
	{{ end }}
	{{ with .Description }}<p>{{ . }}</p>{{ end }}

	</div>
</div>
