</div>
</div>


<footer class="panel">
  <div class="row">

  <!--
    <div class="medium-4 medium-4 push-8 columns">
      Share on social media buttons should go here
    </div>

    <div class="medium-8 medium-8 pull-4 columns">
    -->
    <div class="large-8 medium-12 columns">
      <section id="author">
        <h4>About the Author:</h4>
        <p>Rasmus Stougaard is traveling with his family in south east Asia until april 2015.
          He is a spare time kite surfer, and author of <a
          href="/project/forecast-app/">Sejladsudsigt</a>, 
          and webmaster for <a href="http://kwk.dk">Kolding Windsurfing Klub</a>.
          You can find him on 
          <a href="https://www.facebook.com/stou42" title="Rasmus Stougaard on Facebook">Facebook</a>,
          <a href="https://twitter.com/rstou" title="Rasmus Stougaard on Twitter">Twitter</a>,
          <a href="http://github.com/stou"  title="Rasmus Stougaard on Github">Github</a>, 
          and <a title="Rasmus Stougaard on Google+" rel="author"
          href="https://plus.google.com/+RasmusStougaard/posts?rel=author"
          target="_blank">Google+</a>.
        </p>
      </section>
      <p class="copyright">© 2003‐2014 stou.dk. All rights reserved.</p>
    </div>


  </div>
</footer>


<script src="/bower_components/foundation/js/foundation.min.js"></script>
<script src="/js/app.js"></script>

{{ partial "analytics.html" . }}

</body>
</html>