<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{if .Description }}
<meta name="description" content="{{ .Description }}">
{{else}}
<meta name="description" content="{{ .Site.Params.description }}">
{{end}}
<meta name="keywords" content="{{ range .Keywords }}{{ . }}, {{ end }}">

 <!-- open graph -->
<meta property="og:type" content="article"/>
{{if .Description }}
<meta property="og:description" content="{{ .Description }}"/>
{{else}}
<meta property="og:description" content="{{ .Site.Params.description }}">
{{end}}
<meta property="og:title" content="{{ .Title }} : {{ .Site.Title }}"/>
<meta property="og:site_name" content="{{.Site.Title}}"/>
{{if .Params.cover_image_url}}
<meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.cover_image_url }}" />
<meta property="og:image:type" content="image/jpeg" />
{{end}}
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="article:published_time" content="{{ .Date.Format "2006-01-02" }}"/>
<meta property="article:modified_time" content="{{ .Date.Format "2006-01-02" }}"/>
{{ range .Keywords }}<meta property="article:tag" content="{{ . }}" />
{{ end }}

<!--Twitter Cards-->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="{{ .Site.Params.twitter_id }}" />
<meta name="twitter:title" content="{{ .Title }} : {{ .Site.Title }}" />
{{if .Description }}
<meta name="twitter:description" content="{{ .Description }}" />
{{else}}
<meta name="twitter:description" content="{{ .Site.Params.description }}">
{{end}}

<meta name="twitter:creator" content="{{ .Site.Params.twitter_id }}" />
{{if .Params.cover_image_url}}
<meta name="twitter:image:src" content="{{ .Site.BaseURL }}{{ .Params.cover_image_url }}">
{{end}}
<meta name="twitter:domain" content="{{ .Site.Params.twitter_domain }}">

